@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200;400;600;700;800&display=swap'); 
h1{
    font-family: 'Grenze Gotisch', cursive;
}    
.contenedor{
        background-image: url(fondo.jpg);
        width: 65%;
        margin: auto;
        padding: 20px;
    }
    .address1{
        text-align: center;
        display: inline-block;
        width: 20%;
    }
    .address1 i{
        font-size: 50px;
    }
    #small{
        font-size: 20px;
    }
    .title{
        text-align: center;
        display: inline-block;
        width: 50%;
        margin-top: 20px;
    }
    .title img {
        width: 320px;

    }
    .img1{
        position: absolute;
        top: 61px;
        right: 831px;
    }
    .img2{
        position: absolute;
        top: 145px;
        right: 825px;

    }

    .contenido1{
        padding: 50px;
    }
    .section1{
        display: inline-block;
        width: 33%;
    }
    .article1{
        display: inline-block;
        width: 60%;
        position: relative;
        top: -150px;
    }
    hr{
        width: 60%;
    }
    .article2{
        display: inline-block;
        width: 60%;
        position: relative;
        top: -70px;
    }
    .article3{
        display: inline-block;
        width: 60%;
        position: relative;
        top: -10px;
    }
    .end{
        display: inline-block;
        width: 60%;
    }
   
    .footer{
        width: 500px;
        position: relative;
        right: -22%;
    }